.container {
  background: #ce1b1b;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  background-color: #606460;
  height: 90px;
}

.body {
  background-color: #ffffff;
  padding: 13px;
}

.body .image {
  margin-top: -90px;
}

.body .image img {
  width: 100%;
  height: auto;
}

.body .category {
  font-size: 8px;
  font-weight: 500;
  color: #000000;
}

.body .title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.body .price {
  font-size: 15px;
  font-weight: 600;
  color: #fb9400;
}
